{{!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> --}}
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <section style="height:80px;"></section>
	<div class="row" style="text-align:center;">
		<h2></h2>
	</div>
    <div class="row" style="text-align:center;">
		<h2></h2>
	</div>
    <div class="row" style="text-align:center;">
		<h2></h2>
	</div>
    <!----------- Footer ------------>
    <footer class="footer-bs">
        <div class="row">
        	<div class="col-md-4 footer-brand animated fadeInLeft">
            	<h2>LongTanshop</h2>
                <p>Mang đến cho bạn những đầu sách độc đáo nhất trên toàn thế giới với mong muốn chia sẻ niềm đam mê đọc sách</p>
                <p>©2022 LongTanshop. Tất cả các quyền được bảo lưu</p>
            </div>
        	<div class="col-md-4 footer-nav animated fadeInUp">
            	<h4>Về chúng tôi</h4>
            	<div class="col-md-8">
                    <ul class="pages">
                        <li><a href="#">Giới Thiệu Về LongTanShop</a></li>
                        <li><a href="#">Chăm sóc khách hàng</a></li>
                        <li><a href="#">Điều khoản dịch vụ</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                    </ul>
                </div>
            </div>
        	<div class="col-md-4 footer-social animated fadeInDown">
            	<h4>Theo dõi chúng tôi tại</h4>
            	<ul>
                	<li><a href="#">Facebook</a></li>
                	<li><a href="#">Twitter</a></li>
                	<li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <section style="text-align:center; margin:10px auto;"><p></a></p></section>

</div>